body{
    background-image:url("../assets/imagens/fundoH.png");
    background-size:cover;
    backdrop-filter:blur(12px) brightness(70%);
}

.container{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.form-container{
    display:flex;
    width:1000px;
    max-width:95%;
    background:white;
    box-shadow:0 0 20px rgba(0,0,0,.3);
}

.left{
    flex:1;
    background:url("../assets/imagens/fundoV.png");
    background-size:cover;
    display:flex;
    justify-content:center;
    align-items:center;
}

.left h1{
    color:rgb(250, 246, 246);
    font-family:'Bebas Neue',sans-serif;
    font-size:50px;
}

.right{
    flex:1;
    display:flex;
    justify-content:center;
    align-items:center;
}

form{
    width:80%;
}

input{
    width:100%;
    padding:12px;
    margin:10px 0 20px;
    border:none;
    border-bottom:1px solid #ccc;
}

button{
    width:100%;
    padding:15px;
    background:#05538e;
    color:white;
    border:none;
}

button:hover{
    background:#03396c;
}